.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  align-items: center;
  display: flex;
}
.movies {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
}

.movie {
  text-align: center;
}
.movie img {
  border-radius: 8px;
  margin-top: 12px;
}
